.pixel-snow-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.pixel-snow-container canvas {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}
